.fons{
    margin: 0 auto;
    width: 1000px;
    height: 700px;
    background-image: url(./img/IVA_cultural-Taquilla_de_cine-Estrenos_de_cine-Ministerio_de_Cultura_y_Deporte-Inigo_Mendez_de_Vigo-Cine-Industria_cultural.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 100px;
}
.textover{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    overflow: auto;
    margin: 240px 230px auto 280px;
    height: 180px;
}
p{
    margin: 0 0 1em 0;
}