body{
    margin: 2em auto;
}
.fons{
    background-image: url(./img/fondos3.jpg);
    width: 750px;
    height: 571px;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.columna{
    width: 210px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin: 0;
}