body{
    margin: 1em auto 1em auto;
    width: 800px;
}
img{
    display: block;
}
h1{
    text-align: center;
    color: white;
    margin: 0 100px 1em 100px;
}
p{
    margin: 1.5em 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    color: white;
}
.pastilla{
    background: linear-gradient(0deg, rgba(68,80,96,1) 0%, rgba(16,40,66,1) 100%);
    padding: 1em 50px;
}
.copywrite{
    font-size: .7em;
    text-align: center;
    margin: 1.8em 0 0 0;
}